<!DOCTYPE html>
<html lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>pagebar</title>
</head>
<body class="max-w-6xl mx-auto px-4 ">
<div th:fragment="pagebar">
    <div class="flex justify-center">
        <nav aria-label="Page navigation example" >
            <div class="flex justify-center">
            <ul class="flex list-style-none">
                <li class="page-item" th:if="${nowPage-1 != 0}"
                ><a
                        th:text="Prev"
                        class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                        th:href="@{${forPage}(page=${nowPage-2})}"
                >Prev</a></li>
                <li class="page-item" th:if="${startPage != 0}">
                    <a
                       th:text="${startPage}"
                       class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                       th:href="@{${forPage}(page=${startPage-1})}"
                    > </a></li>
                <li class="page-item">
                    <a
                            th:text="${nowPage}"
                            class="page-link relative block py-1.5 px-3 rounded border-0 bg-blue-600 outline-none transition-all duration-300 rounded text-white hover:text-white hover:bg-blue-600 shadow-md focus:shadow-md"
                            th:href="@{${forPage}(page=${nowPage-1})}"
                    > </a>
                </li>
                <li class="page-item" th:if="${endPage != 0 }">
                    <a
                       th:text="${endPage}"
                       class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                       th:href="@{${forPage}(page=${endPage-1})}"
                    ></a>
                </li>
                <li class=" page-item" th:if="${nowPage != totalPage && endPage != 0 }">
                    <a
                       class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                       th:href="@{${forPage}(page=${nowPage})}"
                    >Next</a>
                </li>
            </ul>
            </div>
            <div style="float: right; margin-right: 3em"
            >
                <p class="text-sm text-gray-700">
                    Showing
                    <span th:text = "${nowPage}"
                          class="font-medium">1</span>
                    Page of
                    <span th:text = "${totalPage}"
                          class="font-medium">97</span>
                    TotalPage
                </p>
            </div>
        </nav>

    </div>
</div>
</body>
</html>

<!--<header th:insert="pagebar.html::nav"></header>-->